<div class="row">
	<div class="col-md-4 col-md-offset-4">

		<div id='new_item'>
			<%= render partial: 'items/form', locals: {new_item: @new_item} %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<table class="table table-striped-custom">
			<theader>
				<th>Days Left</th>
				<th>Task</th>
				<th>Finished?</th>
			</theader>
			<tbody id='open-tasks'>
				<%= render @open_items %>
			</tbody>
		</table>
	</div>
</div>
<div class='row'>
	<% if current_user.items.where(completed: true, archive: false).any? %>
	<div class='col-md-10 col-md-offset-1' id='finished-table'>
		<table class='table'>
			<th colspan='3'>Finished Tasks</th>
			<tbody id='finished-tasks'>
				<% @completed_items.each do |item| %>
					<%= render partial: 'items/completed_items', locals: {item: item} %>
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>
</div>
<div class='row'>
	<div class='footer'>
		<div class='col-md-4 col-md-offset-2'>
		Total open tasks:						 <%= @items.where(completed: false, archive: false).count %> </br>
		Tasks self-destructed:			 <%= @items.where(completed: false, archive: true).count %>
		</div>
		<div class='col-md-4'>
		Tasks completed total:			 <%= @items.where(completed: true).count %></br>
		Tasks completed in past seven days:	 <%= @items.where(completed: true).where("updated_at > ?", 7.days.ago).count %> <br/>
		</div>
	</div>
</div>